/* ---- Main Style Sheet ------------*/
body {
    background-color: darkgray;
}

.wrapper {
    background-color: #ffff;
}

#header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0 20px; */
    background: radial-gradient(#00FF00 20%, #191970 80%)
}

.head-img {
    margin: 10px auto;
    opacity: 0.7;
    border-radius: 30% 30%;
}

.main-nav ul{
    display: inline-block;
    padding: 1em;
    background-color: #808080;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #191970;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.5em;
}


/* ------Media Query  ---------*/

@media (min-width: 750px) {

    .wrapper {
        width: 80%;
        margin: 0 auto;
        position: relative;
        min-height: 100%;
    }

    .body {
        margin: 0 0 100px;
    }

    .main-nav {
        float: right;
    }

    .main-nav li {
        margin-right: 2px;
        float: left
    }

    .ul{
        margin: 0 0;
    }

    #footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        text-align: center;
    }
}